body {
    background: hsl(0, 0%, 95%);
}

.container {
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.block {
    width: 225px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.block_image {
    width: 50px;

}

.block_heading {
    font-family: 'Big Shoulders Display', cursive;
    margin-block: 0px;
    color: hsl(0, 0%, 95%);
}

.block_des {
    margin-top: 0px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 24px;

}

.block_button {
    padding: 15px;
    font-size: 15px;
    width: fit-content;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 40px;
    border-width: 0px;
    margin-top: 30px;
    background-color: hsl(0, 0%, 95%);
}

#block1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0px 0px 5px;

}

#block2 {
    background-color: hsl(184, 100%, 22%);

}

#block3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 5px 5px 0px;

}

#block_button1 {
    color: hsl(31, 77%, 52%);

}

#block_button2 {
    color: hsl(184, 100%, 22%);

}

#block_button3 {
    color: hsl(179, 100%, 13%);

}

@media(max-width: 500px) {
    .container {
        flex-direction: column;
        margin: 50px;
    }

    .block {
        height: 300px;
    }

    .block_heading {
        margin-block: 20px;
    }
}